.admin-toolbar {
  //   background-color: #f7f7f7;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  .nav-button {
    // background-color: yellow;
    margin-right: 10px;

    mat-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      width: 40px;
      height: auto;
    }
  }
}
