<mat-toolbar class="admin-toolbar">
  <mat-toolbar-row class="max-width-container">
    <span>
      <img src="assets/images/logo.svg" alt="jobs logo" height="32px" />
    </span>
    <span class="spacer"></span>
    <span>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Admin Panel"
        class="nav-button"
      >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <button
        mat-icon-button
        class="nav-button"
        color="primary"
        matTooltip="Jobs"
      >
        <mat-icon>business_center</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<admin-panel></admin-panel>
