<section #adminPanel id="admin-panel">
  <div class="admin-panel-wrapper">
    <div class="recentagle box-shadow"></div>
    <div class="max-width-container container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 py-3 welcome-left">
          <h1 class="main-title">Welcome to <span>admin</span> panel!</h1>
          <p class="main-description">You can add, edit or delete jobs</p>
          <button
            mat-flat-button
            aria-label="let's start"
            color="primary"
            class="main-button"
            (click)="navigation.navigateToElement('admin-jobs')"
          >
            <span>Let's Start</span>
          </button>
        </div>
        <div class="col py-3 welcome-right">
          <img src="assets/images/main-screen.svg" alt="admin panel" />
        </div>
      </div>
    </div>
  </div>
</section>
